.modal {
    display: none;
}
.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 110; 
    background-color: #333537;
}

.modal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 309px;
    height: 176px;
    background-color: $white;
}

.modal__content {
    margin-bottom: 18px;
}